/* 
Colours used

Text color (Dark Grey):#2b2b2b;
Primary color (purple):#357b70;
Secondary color (orange):#e0b354;
*/
:root {
  --primary-color: #357b80;
  --secondary-color: #e0b354;
  --body: #001f3f;
  --background-main: #caebf2;
  --a-active: #489c79;
  --a-visited: #05676e;
  --button-bg: #357b70;
  --button-colour: white;
  --border-bottom: rgba(0, 0, 0, 0.3);
  --grid-bg: lightgray;
  --h-font-weight: 700;
}


*{
  box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: var(--background-main);
	color: var(--body);
  font-weight: 400;
	font-size: 14px;
	font-weight: normal;	
}
 
h1, h2, h3 { 
	font-family: 'Noto Sans', monospace;
  font-weight: var(--h-font-weight);
 }

h1 {
  font-size: 2em;
  font-weight: var(--h-font-weight);
}

h2 {
  font-size: 16px;
  font-weight: var(--h-font-weight);
}

h3 {
  font-size: 16px;
  font-weight: var(--h-font-weight);
}

/*link stylings*/

a {
  color: var(--primary-color);
  transition-duration: 0.2s;
}


a:visited {
  color: var(--a-visited);
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}
a:active {
  color: var(--a-active);
}

.main__text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Button Stylings */

.button, button {
  /* overwrites browser defaults and resets the border */
  border: none;
  width: 150px;
  align-self: center;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--button-bg);
  color: var(--button-colour);
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid var(--border-bottom);
  transition: 0.2s opacity;
}
  
button:hover, button:focus,
.button:hover, .button:focus {
  cursor: pointer;
  opacity: 0.8;
}

form input[type="submit"]{
	width: 150px;
	background-color: var(--button-bg); 
	color: var(--button-colour);
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid var(--border-bottom);
}

form input:hover, form input:focus {
	cursor: pointer;
	opacity: 0.8;
}

.submit-button-wrapper { 
margin: 20px 0; 
}

/* Header Items */

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  margin: auto;
  border-bottom: 1px solid var(--border-bottom);
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

/* Navigation Items */

.navigation-list__item {
	text-decoration: none;	
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  font-weight: bold;
}

/* Profile */

.profile {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 50px;
}

.profile_portrait {
  float: left;
  width: 200px;
  margin-right: 40px;
  border-radius: 50%;
  box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.8);
}

/* Footer Items */

.page-footer {
  clear:both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Grid Items */

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33.3%;
}
/* end grid fallback */

@supports (display: grid) {
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 0;
}

.grid__item {
  background-color: var(--grid-bg);
  width: auto;
  min-height: auto;
  margin: 10px;
  padding: 10px;
}

.grid__item:last-child {
  grid-column: 3/3;
  grid-row: 1/3;
}
}

/* Media Queries */

@media all and (max-width: 500px){
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

/* Animations */

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* About Flexbox 'table' */

.about-table {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}

.contact-main {
  padding: 20px;
  margin-left: auto;
}